
# Administrative console port
server.port.admin=9051

# One or more comma separated HTTP listener ports
server.port.api=8081,8082

# Database connection parameters
jdbc.driver=oracle.jdbc.OracleDriver
jdbc.url=jdbc:oracle:thin:@//localhost:1521/ORCL
jdbc.user=user
jdbc.password=changeme

# Connection pool properties
jdbc.pool.size=10
